Source: gyrid-scripts
Section: admin
Priority: extra
Maintainer: Roel Huybrechts <roel.huybrechts@ugent.be>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: gyrid-scripts-ntp
Architecture: all
Depends: ntp (>= 1:4.2.6)
Description: Gyrid scripts for accurate timekeeping
 Scripts and configuration to ensure an accurate clock at all times.

Package: gyrid-scripts-pxe
Architecture: all
Depends: atftpd (>= 0.7),
 dnsmasq (>= 2.55),
 grub-legacy (>= 0.97),
 ifupdown (>= 0.6.10),
 net-tools (>= 1.60),
 nfs-kernel-server (>= 1:1.2.2),
 rsync (>= 3.0.9),
 syslinux-common (>= 2:4.02)
Description: Gyrid scripts for PXE netinstall
 Scripts and configuration to perform network installation via PXE boot.

Package: gyrid-scripts-serial
Architecture: all
Description: Gyrid scripts for setting up a serial console
 Scripts and configuration to enable a serial console.
