#Handle USB drives by creating a /dev/usbstick symlink and
#executing the gyrid-usb script.
ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", SYMLINK+="usbstick", RUN+="/usr/sbin/gyrid-usb.sh &> /dev/null"
